@import url('https://fonts.googleapis.com/css?family=Asap:400,700|Quicksand:400,700');

body {
    background-color: #757EAB;
    font-family: 'Quicksand', 'Asap';
    font-size: 16px;
    color: #fff;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0;
    background-color: #2E3A73;
    padding: 30px;
}
.container {
    background-color: #162257;
}
#menu {
    padding-bottom: 30px;
}

img {
    max-width: 70px;
    max-height: 70px;
    margin: 0;
    /* padding-right: 5px; */
}

#channelsInfo {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Asap';
    font-weight: 700;
    line-height: 3.1ch;
    /* display: inline-block; */
}
.row {
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'Asap';
    padding: 10px;
}
.hidden {
    display: none;
}